/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation bar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #171717;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

/* Left and right navbar links */
.nav-left, .nav-right {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-left li, .nav-right li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

/* Main content styling for the team page */
.team-container {
    padding: 80px 20px 20px 20px;
    text-align: center;
    background-image: url('https://github.com/jainedits108/jainedits108.github.io-the-team-/blob/main/unnamed-removebg-preview.png?raw=true');
    background-size: cover;
    background-attachment: fixed;
}

/* Section styling */
.section {
    margin-bottom: 40px;
    text-align: left;
    padding: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #333;
}

ul li strong {
    font-weight: bold;
    color: #000;
}
