/* Navigation bar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #171717;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

.nav-left {
    justify-content: flex-start;
    margin-left: 20px;
}

.nav-right {
    justify-content: flex-end;
    margin-right: 20px;
}
/* General body and background */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://github.com/jainedits108/jainedits108.github.io-the-team-/blob/main/Resized_5x4_Image.jpg?raw=true');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background covers the full page */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Hero Section Styling */
.hero {
    padding: 100px 20px;
    color: white;
    margin-bottom: 50px;
}

h1 {
    font-size: 3em;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Section Styling */
section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1100px;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.section-intro {
    font-size: 1.3em;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 30px;
}

/* Person Styling */
.person {
    margin: 20px 0;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.description {
    font-size: 1.1em;
    color: #ddd;
    max-width: 800px;
    margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1, h2, .section-intro {
        font-size: 1.8em;
    }

    .name {
        font-size: 1.3em;
    }

    .description {
        font-size: 1em;
    }
}
